.header {
    display: flex;
    justify-content: space-around;
}

.header h1 {
    margin: 0;
}

.navugation {
    display: flex;
}

.menu {
    display: flex;
    margin: 0;
}

.menu li {
    list-style: none;
    padding: 0 1rem;
}