@font-face {
    font-family: 'Rampart One';
    src: url('RampartOne-Regular.woff2') format('woff2'),
        url('RampartOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sawarabi Gothic';
    src: url('SawarabiGothic-Regular.woff2') format('woff2'),
        url('SawarabiGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Maru Gothic';
    src: url('ZenMaruGothic-Medium.woff2') format('woff2'),
        url('ZenMaruGothic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Maru Gothic';
    src: url('ZenMaruGothic-Bold.woff2') format('woff2'),
        url('ZenMaruGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

