.description {
    padding: 2rem 0;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem
}

.wrap {
    border-radius: 10px;
    background-color: var(--tertiary);
    padding: 1rem;
}

.wrap li {
    font-weight: bold;
    font-size: 1.2rem;
}