.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem
}

.tagArea {
    display: flex;
    padding: 2rem 0;
    gap: 8px;
    flex-wrap: wrap;

}